@using Microsoft.AspNetCore.Identity
@using TapMarket.Data.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">

    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a asp-controller="Listing" asp-action="Add" title="Manage" class="btn btn-warning">Create listing</a>
        </li>

        <li class="nav-item">
            <a class="btn btn-info" asp-controller="Home" asp-action="Help">Help</a>
        </li>

        <li class="nav-item">
            <div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Profile
                </button>
                <div class="dropdown-menu">
                    <a asp-controller="User" asp-action="Listings" class="dropdown-item">My listings</a>
                    <a asp-controller="Favorites" asp-action="All" class="dropdown-item">Favorites</a>
                    <a asp-controller="Message" asp-action="Index" class="dropdown-item">Messages</a>
                    <a asp-controller="User" asp-action="Profile" class="dropdown-item">Manage</a>
                </div>
            </div>
        </li>

        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="btn btn-info">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-controller="Home" asp-action="Help">Help</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
