@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model TapMarket.Models.Home.HelpPageFormModel

<div class="container">
    <div class="row">
        <div class="offset-md-2 col-md-8 col-sm-12">
            <form method="post">

                <h2 class="heading-margin"> Let us help </h2>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="Subject"></label>
                        <input asp-for="Subject" class="form-control" placeholder="Subject">
                        <span asp-validation-for="Subject" class="small text-danger"></span>
                    </div>

                    <div class="form-group col-md-6">
                        <label asp-for="Email">Email</label>
                        <input asp-for="Email" class="form-control" value="@User.Identity.Name">
                        <span asp-validation-for="Email" class="small text-danger"></span>
                    </div>
                </div>

                <div class="form-group" style="">
                    <label asp-for="Content"></label>
                    <textarea asp-for="Content" rows="4" class="form-control" placeholder="How can we help you?"></textarea>
                    <span asp-validation-for="Content" class="small text-danger"></span>
                </div>

                <button type="submit" class="btn btn-info">Send</button>

            </form>
        </div>
    </div>
</div>
