<div class="jumbotron text-center">
    <h1 class="display-3">Success!</h1>
    <p class="lead"><strong>Email</strong> successfully sent! </p>
    <hr>
    <p class="lead">
        <a class="btn btn-primary btn-sm" asp-controller="Home" asp-action="Index" role="button">Continue to homepage</a>
    </p>
</div>
