@model TapMarket.Models.Listing.AddListingFormModel

    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-md-8 col-sm-12">
                <h2 class="heading-margin"> Create new listing </h2>

                <form method="post">
                    <div class="form-group">
                        <label asp-for="Title">Title</label>
                        <input asp-for="Title" class="form-control" placeholder="Tell us what you're selling">
                        <span asp-validation-for="Title" class="small text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="CategoryId">Category</label>
                        <select asp-for="CategoryId" class="form-control">
                            <option selected>Choose...</option>
                            @foreach (var category in Model.Categories.OrderBy(c => c.Id))
                            {
                                <option value="@category.Id">@category.Name</option>
                            }
                        </select>
                    </div>

                    <div class="form-group">
                        <label asp-for="ImageUrl">Image URL</label>
                        <input asp-for="ImageUrl" class="form-control" placeholder="Enter URL here">
                        <span asp-validation-for="ImageUrl" class="small text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Description">Description</label>
                        <textarea asp-for="Description" rows="5" class="form-control" placeholder="This item is..."></textarea>
                        <span asp-validation-for="Description" class="small text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ConditionId">Condition</label>
                        <select asp-for="ConditionId" class="form-control">
                            <option selected>Choose...</option>
                            @foreach (var condition in Model.Conditions.OrderBy(c => c.Id))
                            {
                                <option value="@condition.Id">@condition.Name</option>
                            }
                        </select>
                    </div>

                    <div class="form-group">
                        <label asp-for="Price">Price</label>
                        <input asp-for="Price" class="form-control" placeholder="0">
                        <span asp-validation-for="Price" class="small text-danger"></span>
                    </div>

                    <input class="btn btn-primary float-left" type="submit" value="Publish">
                   
                </form>
            </div>
        </div>
    </div>