<div class="jumbotron text-center">
    <h1 class="display-3">Success!</h1>
    <p class="lead"><strong>Listing</strong> successfully created! </p>
    <hr>
    <p>
        Having trouble? <a asp-controller="Home" asp-action="About">Contact us</a>
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-sm" asp-controller="Home" asp-action="Index" role="button">Continue to homepage</a>
    </p>
</div>