
<div class="row">
    <div class="offset-md-2 col-md-8 col-sm-12">
        <h2 class="heading-margin"> Create new listing </h2>
        <form>

            <div class="form-group">
                <label>Name</label>
                <input class="form-control" placeholder="Example: Brand new iPhone 12">
            </div>

            <div class="form-group">
                <label>Category</label>
                <select class="form-control">
                    <option>RealEstate</option>
                    <option>Vehicles</option>
                    <option>Electronics</option>
                    <option>Fashion</option>
                    <option>Home</option>
                    <option>Tourism</option>
                    <option>Jobs</option>
                </select>
            </div>

            <div class="form-group">
                <label>Image URL</label>
                <input class="form-control" placeholder="Enter URL here">
            </div>

            <div class="form-group">
                <label>Description</label>
                <textarea rows="5" class="form-control" placeholder="This item is..."></textarea>
            </div>

            <div class="form-group">
                <label>Price</label>
                <input class="form-control" placeholder="0">
            </div>

            <div class="form-group">
                <label>Condition</label>
                <select class="form-control">
                    <option>Used</option>
                    <option>New</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Publish</button>

        </form>
    </div>
</div>