@model TapMarket.Models.Customer.AdditionalInfoFormModel

<div class="container">
    <div class="row">
        <div class="offset-md-2 col-md-8 col-sm-12">
            
            <h1 class="heading-margin">Additional Info</h1>

            <div style="text-align:center" class="alert alert-primary" role="alert">
                We need a little additional info before you can continue!
            </div>

            <form method="post">
                <div class="form-group">
                    <label asp-for="Username">Username</label>
                    <input asp-for="Username" class="form-control" placeholder="Username">
                    <span asp-validation-for="Username" class="small text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PhoneNumber">PhoneNumber</label>
                    <input asp-for="PhoneNumber" class="form-control" placeholder="Phone number">
                    <span asp-validation-for="PhoneNumber" class="small text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Address">Address</label>
                    <input asp-for="Address" class="form-control" placeholder="1024 Main Street">
                    <span asp-validation-for="Address" class="small text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="City">City</label>
                    <input asp-for="City" class="form-control" placeholder="City">
                    <span asp-validation-for="City" class="small text-danger"></span>
                </div>

                <input class="btn btn-primary float-left" type="submit" value="Continue">

            </form>
        </div>
    </div>
</div>