@model TapMarket.Models.Message.MessageIndexViewModel

@{
    var messages = ViewBag.Messages;
    var data = ViewBag.Data;
}

@if (messages.Count == 0)
{
    <div class="jumbotron text-center">
        <h1 class="display-3">No messages</h1>
        <p class="lead">You don't have any <strong>messages</strong> yet! </p>
        <hr>
    </div>
}
else
{
    <h1 class="text-center"> My Messages </h1>

    @foreach (var message in messages)
    {
        <div class="card offset-3" style="max-width: 540px;margin-bottom:10px">
            <div class="row no-gutters" style="width: 50rem;height: 8rem">
                <div class="col-md-2">
                    <img src="@message.Receiver.PictureUrl" class="card-img-top" style="height: 8rem">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title" style="margin-bottom:2px">@message.Receiver.FirstName @message.Receiver.LastName</h5>
                        <p class="card-text" style="margin-bottom:3px;margin-top:2px"><i>Last online: </i></p>
                        <div style="display:flex">
                            <a class="btn btn-info" style="margin-top:3px" href="/Message/Details?receiverId=@message.Receiver.Id">See Messages</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}


